@{
    ViewData["Title"] = "Elsha3er Products";
}

<h2>Apple Products</h2>

<div class="row">
    <div class="col-md-3">
        <a asp-controller="Elsha3erCover" asp-action="Index" class="btn btn-primary w-100 mb-2">
            Covers
        </a>
    </div>

    <div class="col-md-3">
        <a asp-controller="Elsha3erScreen" asp-action="Index" class="btn btn-primary w-100 mb-2">
            Screens
        </a>
    </div>

    <div class="col-md-3">
        <a asp-controller="Elsha3erCharger" asp-action="Index" class="btn btn-primary w-100 mb-2">
            Chargers
        </a>
    </div>

    <div class="col-md-3">
        <a asp-controller="Elsha3erHeadPhone" asp-action="Index" class="btn btn-primary w-100 mb-2">
            Headphones
        </a>
    </div>
</div>
