<form method="post">
    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />

    <div class="form-group">
        <label>Admin Password</label>
        <input type="password" name="password" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-danger">Continue</button>
</form>
