@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}

<form method="post">
    <div>
        <label>Email</label>
        <input name="email" class="form-control" required />
    </div>

    <div>
        <label>Password</label>
        <input name="password" type="password" class="form-control" required />
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Login</button>
</form>
